@use "./variable.scss" as vars;

.bench-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 8px;
  box-sizing: border-box;
  overflow: hidden;

  .left,
  .right {
    background-color: vars.$color-vue-deep;
    margin: 8px;
    border: 2px solid vars.$color-vue-light;
    border-radius: 6px;
    overflow: hidden;
  }
}
